<section class="destaque">
    <div class="center">    
    </div>   
</section>


<h1>FILMES</h1>
    
    <section class="flex">
          <div>
              <a href=""><img src="/im/<%= filme.foto %>"g ></a>
          </div>
          <div>
            <a href=""><img src="/img/<%= filme.foto1 %>" ></a>
          </div>
          <div>
            <a href=""><img src="/img/<%= filme.foto2 %>" ></a>
          </div>
          <div>
            <a href=""><img src="/img/<%= filme.foto3 %>" ></a>
        </div>
        <div>
            <a href=""><img src="/img/<%= filme.foto4 %>" ></a>
        </div>
        <div>
            <a href=""><img src="/img/<%= filme.foto5 %>" ></a>
        </div>
      </section>
